body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #62a9c9;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 5px;
  padding: 5px;
}

.button-span {
  background-color: #89cff0;
  width: 20%;
  border-radius: 5px;
}

.addCard {
  background-color: #89cff0;
  position: center;
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 2px solid;
}

ul {
  list-style-type: none;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  max-width: 300px;
  align-self: center;
}

.grid-list li {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editCard {
  background-color: #89cff0;
  text-align: left;
  padding: 20px;
  border-radius: 9px;
  display: grid;
  align-items: center;
}

input {
  width: 60%;
}

.background {
  background-color: #b1f7ff;
  width: 100%;
  height: 100%;
}

.book {
  width: 500px;
  background-color: beige;
  border: yellow;
  border-width: 5px;
  border-style: solid;
  align-items: center;
  margin: auto;
}

.button-span {
  position: fixed;
  top: 300px;
  right: 0;
  border: 10px;
}
